.logo {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  position: absolute;
  left: 5px;
  top: 10px;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
      width: 100%;
      
  }
   100% {
    opacity: 1;
    width: 15%;
  
 }
}
body{
  animation: fadeInAnimation2 ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation2 {
  0% {
    background-color: white;
      
  }

   100% {
  
   background-color: black;
 }
}

.header{
  color: rgb(167, 4, 255);
    /* text-align: center; */
    display: flex;
    font-size: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}
.logo{
  width: 26%;
}